@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

* {
	box-sizing: border-box
}
html {
	font-size: 16px
}
body {
	background: #ddd;
	font-family: 'Roboto';
	margin: 0
}

nav {
	background: #FFA500;
	position: sticky;
	top: 0
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none
}
nav ul li {
	float: left;
}
nav::after {
	content:'';
	clear: both;
	display: table
}
nav a {
	display: block;
	text-decoration: none;
	color: white;
	padding: 1.2rem 1rem
}

.navigation li:first-child {
	padding: 1.2rem 1rem;
	color: rgba(255,255,255,.5)
}


.mobile-menu-button + input[type="checkbox"] {
	display: none
}


.mobile-menu-button + input[type="checkbox"]:checked ~ .navigation li:not(:first-child) {
	display: block
}

#fejlec {
    background-image: url(pic/backgr1.png);
    height: 100vh;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    
}

